.nav {
    display: flex;
    justify-content: space-between;
}
.nav h1{
    
        color: blueviolet;
        margin: 5px;
        font-size: 40px;
    }

    .nav ul{
        display: inline-flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        
    }
    .nav ul li{
        padding-left: 15px;
        padding-top: 15px;
       
    }
 .nav ul li a {
     color: blueviolet;
     text-decoration: none;
 }
 .nav .nav-search input {
    flex: 1;
    color: blueviolet;
    border-color: blueviolet;
    border: 1px solid;
    height: 40px;
    border-right: 0px;
}
.nav .nav-search {
    margin: 5px;
    flex: 1;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.nav .nav-search button {
    flex: 1;
    color: blueviolet;
    border-color: blueviolet;
    border: 1px solid;
    height: 45px;
    border-left: 0px;
}

h1 a{
color: blueviolet;
text-decoration: none;
}
