<div class="product-list">
    <h1>All Products List</h1>
    <h3 style="color: red; text-align: center;">{{deleteMessage}}</h3>
    <table>
        <thead>
           <tr>
               <th>Image</th>
               <th>Name</th>
               <th>Price</th>
               <th>Category</th>
               <th>Color</th>
               <th>Description</th>
               <th>Action</th>
              
           </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productList">
            <td><img src = "{{item.image}}"/> </td>     
           <td> {{item.name}} </td>
           <td> {{item.price}} </td>
           <td> {{item.category}} </td>
           <td> {{item.color}}</td>
           <td> {{item.description}} </td>
           <td><button style="color: red;" (click)="delete(item.id)">Delete</button>
           <a routerLink="/seller-update-product/{{item.id}}" style="color: green;">Edit</a></td>
           
            </tr>
        </tbody>
    </table>
</div>