body{
    font-family: sans-serif;
}
.container{
    margin-left: 5%;
    margin-right: 5%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.common-form{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}
.form-input{
    margin-bottom: 20px;
    height: 35px;
    padding: 10px;
    border: 1px solid blueviolet;
    color: blueviolet
    
}
.form-button{
    height: 35px;
    border: 1px solid blueviolet;
    cursor: pointer;
    background-color: blueviolet;
    color: white;
}
